.lead__image {
  max-width: calc(1280px - 128px*2);
  height: 615px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    max-width: calc(1024px - 48px*2);
    height: 580px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 768px;
    max-height: 480px;
    margin-left: -24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
    margin-left: -16px;
  }
}