.lead__image {
  position: relative;
  display: block;
  width: 100%;
  max-width: 984px;
  max-height: 615px;
  background-size: cover;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 1024px) {
  .lead__image {
    margin: 0;
    background-position: top 0px left 0px bottom 0px right 0px;
    width: 100%;
    max-width: 928px;
    height: auto;
    max-height: 580px;
  }
}

@media screen and (max-width: 768px) {
  .lead__image {
    width: 100vw;
    max-width: 768px;
    max-height: 480px;
    margin-left: -24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__image {
    max-width: 320px;
    max-height: 200px;
    margin-left: -16px;
  }
}