.cover {
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  min-height: 740px;
  margin: 0 auto;
  padding: 0 48px;
  background-color: #2a2c2f;
  color: #fff;
  text-decoration: none;
  background-image: url('../.././images/cover-trains.jpg');
  background-repeat: no-repeat;
  background-position: center center;
} 

.cover:hover {
  z-index: 2;
}

@media screen and (max-width: 1184px) {
  .cover {
    width: 100wv;
    min-height: 62.5vw;
    background-size: contain;
  }
}

@media screen and (max-width: 600px) {
  .cover {
    padding: 0;
  }
}