.cover__background {
  height: 740px;
  background-image: url('../../.././images/cover-trains.jpg');
  background-position: top 0 left 48px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .cover__background {
    background-position: top 0 left 0;
    background-size: cover;
}

@media screen and (max-width: 768px) {
  .cover__background {
    background-position: top 0 left 0;
    background-size: cover;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    background-size: 100%;
    padding: 0;
  }
}